@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

h1 {
    font-size: 50px;
    letter-spacing: 0.1rem;
    font-style: italic;
    color:#c7c35b;
    text-shadow: 0 0.2rem 5rem rgb(119, 115, 115);
    text-transform: uppercase;
    margin: 4rem 0;
}

h2{
    font-size:30px;
    color:#5E615E;
}

h3{
    font-size:20px;
    color:black;
}

p{
    font-size:15px;
    color:black;
}


